/*
Colors used
Primary color (Light lavender): #eeebff
Secondary color (Bright Green): 00d27f

*/
:root {
  --primary-color: #eeebff;
  --secondary-color: #00d27f;
  --link-active: #489c79;
  --white: #fff;
  --heading-font-weight: 400;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--heading-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--heading-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--heading-font-weight);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--link-active);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.header-logo {
  width: 120px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__text {
  flex: 1 1 100px;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.portfolio__grid--item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
}

.portfolio__grid--item {
  background-color: var(--primary-color);
  width: auto;
  min-height: auto;
  margin: 0;
}

.portfolio__grid--item:last-child {
  grid-column: 4 / 4;
  grid-row: 1 / 3;
}

.portfolio {
  text-align: center;
}

.about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.about__table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.about__animation {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

@media all and (max-width: 500px) {
  .portfolio__grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .portfolio__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .portfolio__grid {
    grid-gap: 10px;
  }

  .portfolio__grid--item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 10s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(20px, 10px);
  }

  to {
    transform: translate(-200px, 10px);
  }
}

.cloud-right {
  animation: 15s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(100px, 5px);
  }

  to {
    transform: translate(300px, 5px);
  }
}

.cloud-left {
  animation: 25s cloud-move-reverse infinite alternate linear;
}

.contact-page {
  margin: 35px;
}

.contact-page__form {
  margin-top: 20px;
  max-width: 400px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
}
